<div class="location-list-container">
  <h1>Locations</h1>

  <div *ngIf="locations.length > 0" class="location-grid">
    <app-location-card *ngFor="let location of locations" [location]="location"></app-location-card>
  </div>

  <div *ngIf="locations.length === 0" class="no-results">
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    <p>No locations found</p>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
